@font-face {
    font-family: "flaticon_meddox2";
    src: url("../fonts/flaticon_meddox2.eot");
    src: url("../fonts/flaticon_meddox2.eot?#iefix") format("embedded-opentype"),
    url("../fonts/flaticon_meddox2.woff2") format("woff2"),
    url("../fonts/flaticon_meddox2.woff") format("woff"),
    url("../fonts/flaticon_meddox2.ttf") format("truetype"),
    url("../fonts/flaticon_meddox2.svg#flaticon_meddox2") format("svg");
}

i[class^="flaticon_meddox2"]:before, i[class*="flaticon_meddox2"]:before {
    font-family: flaticon_meddox2 !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon_meddox2-arrow:before {
    content: "\f101";
}
.flaticon_meddox2-plus:before {
    content: "\f102";
}
.flaticon_meddox2-right-up:before {
    content: "\f103";
}
.flaticon_meddox2-search:before {
    content: "\f104";
}

