/**
 * Theme Option
 */
 #redux-header {
 	display: none !important;
 }
.redux-main .wp-picker-container {
    display: inline-block;
}
.redux-main .color-transparency-check {
    display: inline-block;
    margin: 6px 0 !important;
}
.redux-sidebar .redux-group-menu li.active > a, .redux-sidebar .redux-group-menu li:hover > a {
    background-color: #21cdc0 !important;
    color: #fff !important;
}
.wp-admin.admin-color-fresh .redux-container-switch .cb-enable.selected, 
.wp-admin.admin-color-fresh .redux-field-container .ui-buttonset .ui-state-active, 
.wp-admin.wp-customizer .redux-container-switch .cb-enable.selected, 
.wp-admin.wp-customizer .redux-field-container .ui-buttonset .ui-state-active {
	background-color: #21cdc0 !important;
	background-image: none !important;
	border-color: #21cdc0 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-ms-box-shadow: none !important;
}

.redux-container-image_select ul.redux-image-select {
	margin: 0 -15px !important;
}
.redux-container-image_select ul.redux-image-select li {
	padding: 0 15px !important;
	margin: 0 0 30px !important;
}
#cms_theme_options-all_careers_page ul.redux-image-select,
#cms_theme_options-single_post_layout ul.redux-image-select,
#cms_theme_options-singe_service_layout ul.redux-image-select,
#cms_theme_options-singe_portfolio_layout ul.redux-image-select {
	display: flex;
	display: -webkit-flex;
    flex-wrap: wrap;
}

.wp-admin.admin-color-fresh .redux-container-image_select .redux-image-select-selected img, 
.wp-admin.wp-customizer .redux-container-image_select .redux-image-select-selected img {
	border-color: #21cdc0 !important;
	box-shadow: 0 1px 6px #21cdc0 !important;
	-webkit-box-shadow: 0 1px 6px #21cdc0 !important;
	-ms-box-shadow: 0 1px 6px #21cdc0 !important;
}
.redux-container-color .wp-picker-container {
	display: inline-block;
}
.redux-container-color .color-transparency-check {
	display: inline-block;
    margin: 5px 0;
}
.term-php .form-field {
	display: table-row !important;
}
.redux-container .redux-container-context-side .redux-main {
	padding: 20px !important;
}
.redux-container .redux-container-media img {
	max-width: 200px !important;
	margin-bottom: 10px !important;
}
.vc_edit_form_elements .vc_column {
	padding-top: 30px !important;
}
.panel-primary > .panel-heading {
	background-image: none !important;
	background-color: #21cdc0 !important;
}
.description.field-desc {
	font-style: italic;
    opacity: 0.4;
}
.post-type-post .redux-container .redux-main {
	min-height: auto;
}
.post-type-post .redux-container .redux-sidebar {
	display: none;
}
.wp-admin [id*="mymetabox_revslider_"], .wp-admin [id^="mymetabox_revslider_"] {
	display: none;
}

.cms-dashboard-item i.dashicon {
	background-color: #21cdc0;
}
.cms-dashboard-item a {
	background-color: #21cdc0;
}
.cms-dashboard-item a:hover, .cms-dashboard-item a:focus {
	background-color: #5f9734;
}
.cms-dashboard-ticket a {
	border-color: #21cdc0;
}
.cms-dashboard-ticket a:hover, .cms-dashboard-ticket a:focus {
	color: #21cdc0;
}
.vc_el-container [id*='cms_'] .vc_element-icon, .vc_el-container [id^='cms_'] .vc_element-icon {
	background-image: url('../images/el-icon.png');
	background-color: transparent;
	background-position: center;
}

.wp-core-ui .swa-ie-dashboard .button {
	background-color: #21cdc0;
	border-color: #21cdc0;
	box-shadow: 0 1px 0 #21cdc0;
	-webkit-box-shadow: 0 1px 0 #21cdc0;
	-ms-box-shadow: 0 1px 0 #21cdc0;
}
.wp-core-ui .swa-ie-dashboard .button:hover, .wp-core-ui .swa-ie-dashboard .button:focus {
	background-color: #5f9734;
	border-color: #5f9734;
}
.swa-import-contains .swa-ie-image::before {
	background-color: rgba(255, 201, 22, 0.8);
}
.video-tutorial .dash-deactivate {
	display: none;
}
.datasofte_page_theme-options .error.redux-message, .datasofte_page_theme-options .updated.redux-notice,
.datasofte-child_page_theme-options .error.redux-message, .datasofte-child_page_theme-options .updated.redux-notice,
.gwp-live-feed-contents.notice.gwp-notice-pro, .swa-delete-demo.button {
	display: none !important;
}
.vc_edit_form_elements .vc_ui-flex-row .vc_col-sm-1\/5 {
	width: 20%;
}
.vc_edit-form-tab.vc_row .cms-col-5 {
	padding-left: 15px;
	padding-right: 15px;
	width: 20%;
	box-sizing: border-box;
}
.redux-main .ui-button-text-only .ui-button-text {
	padding: 0;
}
#revslider-update .update-message {
	display: none
}
.redux-container-slides .redux_slides_add_remove,
.redux-container-slides .upload_button_div,
.redux-container-slides textarea{
	display: none;
}
.redux-container-slides ul.redux-slides-list li{
	margin-bottom: 5px !important;
}
#accordion-section-title_tagline{
	display: none !important;
}

/** Gutenberg CSS **/
.wp-block{
	max-width: 1170px !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.editor-post-title__block{
	position: relative;
	background-color: #f2f2f2;
	width: 100%;
	max-width: 100% !important;
	padding: 90px 0;
	color: #1b1a1a;
}
.editor-post-title__input{
	height: auto !important;
	text-align: center !important;
}
.editor-styles-wrapper .alignleft, .editor-styles-wrapper .alignright {
	margin-bottom: 1.2em;
	max-width: 260px;
}
.editor-styles-wrapper .alignleft {
	margin-right: 1em;
}
.edit-post-layout .editor-styles-wrapper {
	font-family: 'Roboto', sans-serif !important;
	font-size: 15px;
	line-height: 1.6875;
	color: #777;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.edit-post-layout .block-editor-block-list__block[data-type="core/paragraph"] p {
	line-height: 1.6875;
}
.edit-post-layout .editor-styles-wrapper p {
	margin: 0 0 15px !important;
}
.edit-post-layout .editor-styles-wrapper [data-block] {
	margin: 28px 0;
}
.edit-post-layout .wp-block-cover__inner-container .editor-rich-text__editable.wp-block-paragraph {
	font-size: 24px !important;
	line-height: 1.25 !important;
	color: rgba(255, 255, 255, 0.87);
	font-weight: normal;
	padding-left: 20px;
	padding-right: 20px;
}
.edit-post-layout .block-library-cover__resize-container {
	margin-bottom: 45px;
}
.edit-post-layout .block-editor-block-list__layout .block-editor-block-list__block {
	padding-left: 0;
	padding-right: 0;
}


hr.wp-block-separator {
	margin: 30px 0;
}
hr.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100%;
}

.block-editor-block-list__block[data-type="core/button"][data-align=center] {
	text-align: center;
	display: block;
}
.editor-styles-wrapper .wp-block-pullquote {
	border: none;
	color: inherit;
	padding: 0;
	position: relative;
	text-align: center;
}

.editor-styles-wrapper ul.wp-block-archives,
.editor-styles-wrapper ul.wp-block-categories,
.editor-styles-wrapper ul.wp-block-latest-posts,
.editor-styles-wrapper ul.wp-block-categories__list {
	font-family: inherit;
	list-style: none;
	margin: 40px 0;
	padding-left: 0;
	text-align: left;
}