html {
    -webkit-text-size-adjust: 100%; /* 2 */
    scroll-behavior: smooth;
    overflow-x:hidden; // fix chrome mobile mode
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

a {
    @include transition(all 300ms linear 0ms);
    color: inherit;
    &.text-link {
        border-bottom: 2px solid $primary_color;
        padding-bottom: 2px;
        color: $primary_color;

        &:hover {
            border-color: transparent;
        }
    }
}

a, a:hover, a:focus, a:before, a:after {
    outline: none;
    text-decoration: none;
}

// a:hover, a:focus {
//     color: $link_color_active;
// }

*,
*:before,
*:after {
    box-sizing: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 25px;
    &:last-child{
        margin-bottom: 0;
    }
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.6875;
    color: #848e9f;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: clip;
    font-weight: normal;
    letter-spacing: 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    &.body-default-font {
        @include font-family-default($body_default_font);
    }
    // @since 1.1.1
    word-break: break-word;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    // SVG Color
    fill: currentColor;
}
svg{
    fill: currentColor;
}

.site {
    position: relative;
}

// Headings
//--------------------------------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: $secondary_color;
    clear: both;
    line-height: 1.4;
    margin: 0 0 15px;
    font-weight: bold;
    -webkit-font-smoothing: auto;
    font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

.single{
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        color: $dark_light_color;
    }
}

.heading-default-font {
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        @include font-family-heading($heading_default_font);
    }
}

h1, .h1 {
    font-size: 60px;
}

h2, .h2 {
    font-size: 43px;
}

h3, .h3 {
    font-size: 34px;
}

h4, .h4 {
    font-size: 24px;
}

h5, .h5 {
    font-size: 20px;
}

h6, .h6 {
    font-size: 16px;
}

.content-area {
    @media #{$max-sm} {
        h2:not(.no-responsive), .h2:not(.no-responsive) {
            font-size: 35px !important;
        }
    }
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    vertical-align: top;
    @include transition();
}

label {
    margin-bottom: 0;
}

// Unit Test
//--------------------------------------------------

table {
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 2;
    margin: 0 0 32px;
    width: 100%;
    @include border-radius(0);

    th {
        color: $color_dark;
    }
}

caption, td {
    font-weight: normal;
    text-align: left;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 13px 8px;
}

th {
    font-weight: 600;
    border-top: 1px solid #ededed;
    padding: 10px;
    border-right: 1px solid #ededed;
}

td {
    border-top: 1px solid #ededed;
    padding: 10px;
    border-right: 1px solid #ededed;
}

/*--- Definition Lists ---*/
dl {
    margin: 0 0 0 25px;
}

dl dt {
    font-weight: normal;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}

dl dd {
    line-height: normal;
    margin-bottom: 20px;

    a {
        color: #000;

        &:hover {
            color: $primary_color;
        }
    }
}

code, kbd {
    background-color: transparent;
    border-radius: 4px;
    color: inherit;
    font-size: 100%;
    padding: 2px 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

ins {
    color: #fff;
    border: none;
    padding: 2px;
    text-decoration: none;
    background-color: $primary_color;
}

pre {
    background: #f5f5f5;
    color: #666;
    font-size: 14px;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

ol {
    list-style: outside none decimal;
    padding-left: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px;

    li {
        list-style-position: inside;
    }
}

.entry-content li > ul, .comment-content li > ul {
    margin-left: 17px;
}

dl + h2 + ul {
    padding-left: 2px;
    list-style: outside;
    margin-bottom: 20px;

    ul {
        padding-left: 20px;

        li {
            list-style: outside;
        }

        ul {
            padding-left: 0;
        }
    }
}

ul + h2 + ol {
    padding-left: 25px;
    margin-bottom: 18px;
}
.comment-content{
    ul + h2 + ol {
        padding-left: 0;
        ol{
            padding-left: 20px;
        }
    }
}

img.size-thumbnail {
    max-width: 160px;
}

.entry-content .wp-block-cover {
    margin-bottom: 1.5em;

    .wp-block-cover-text {
        color: #fff;

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .wp-block-cover-image {
        margin-bottom: 1.5em;
    }
}

.post-password-form {
    label {
        display: block;
        max-width: 60%;
    }

    input {
        margin: 10px 0;
    }
}

@media #{$max-sm} {
    .post-password-form label {
        max-width: 60%;
    }
}

.wp-block-button {
    margin-bottom: 30px;
}

#tslOverlay {
    background-color: transparent !important;
}

#elementor-panel-get-pro-elements {
    display: none !important;
}

.elementor-icons-manager__tab__item {
    height: 80px !important;
}