#secondary .widget, .elementor-widget .e-sidebar-widget {
    padding: 33px 40px 40px;
    margin-bottom: 40px;
    background-color: #def8f6;
    position: relative;
    @include border-radius(10px);
    span.count{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        background-color: #fff;
        color: $primary_color;
        border: 1px solid #e6e8eb;
        @include border-radius(50%);
        font-size: 14px;
        &.right {
            float: left;
            margin-right: 19px;
        }
    }
    select {
        max-width: 100%;
        border-color: #eaeaea;
        background: #fff;
    }
    @media #{$max-sm} {
        padding-left: 30px;
        padding-right: 30px;
    }
    &:before{
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        height: 3px;
        left: 40px;
        right: 40px;
        bottom: 0;
        background-color: $primary_color;
    }
    &.widget_tag_cloud{
        .widget-content{
            margin-bottom: -10px;
        }
    }
    &.widget_categories{
        padding-bottom: 20px;
    }
}

.widget-border-left{
    position: relative;
    &:before{
        content: "";
        display: block;
        width: 3px;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 60px;
        bottom: 60px;
        background-color: $primary_color;
    }
    &.secondary{
        &:before{
            background-color: $secondary_color;
        }
    }
}
.widget-title, .comments-title, .comment-reply-title, .e-sidebar-widget .widget-title {
    font-size: 19px;
    position: relative;
    margin-bottom: 23px;
    font-weight: bold;
    color: $dark_light_color;
}
ul.menu {
    list-style: none;
    margin: 0;
}
.search-form {
    position: relative;
}
// Common widget styling
//--------------------------------------------------
.widget_nav_menu.column3 {
    ul.menu {
        margin: 0 -15px;
        overflow: hidden;
        li {
            width: 33.33%;
            padding: 0 15px;
            float: left;
        }
    }
}
@media #{$max-sm} {
    .widget_nav_menu.column3 ul.menu li {
        width: 50%;
    }
}
@media #{$max-xs} {
    .widget_nav_menu.column3 ul.menu li {
        width: 100%;
    }
}
.widget_nav_menu.column2 {
    ul.menu {
        margin: 0 -15px;
        overflow: hidden;
        li {
            width: 50%;
            padding: 0 15px;
            float: left;
        }
    }
}
@media #{$max-xs} {
    .widget_nav_menu.column2 ul.menu li {
        width: 100%;
    }
}
.widget_categories,
.widget_nav_menu,
.widget_pages,
.widget_archive,
.widget_meta {
    ul {
        list-style: none;
        margin-bottom: 0;
    }
}
#content {
    .widget_categories,
    .widget_pages,
    .widget_nav_menu,
    .widget_meta {
        ul ul ul ul ul {
            padding-left: 0;
        }
    }

    // Categories widget
    //--------------------------------------------------

    .widget_categories,
    .widget_nav_menu,
    .cms-navigation-menu.e-sidebar-widget,
    .widget_pages,
    .widget_archive,
    .widget_meta{
        ul li {
            font-size: 0;
            line-height: 0;
            a {
                font-size: 15px;
                font-weight: 500;
                line-height: 24px;
                display: block;
                position: relative;
                margin-bottom: 13px;
                &:hover{
                    color: $primary_color;
                }
            }
            &.current-cat > a, &.current-cat-parent > a, &.current-menu-item > a, > a:hover {

            }
            &.menu-item-has-children > a {

            }
            /* .sub-menu > li, .children > li {
                > a {
                    padding-left: 32px;
                }
                > .sub-menu > li, > .children > li {
                    > a {
                        padding-left: 42px;
                    }
                    > .sub-menu > li, > .children > li {
                        > a {
                            padding-left: 52px;
                        }
                        > .sub-menu > li, > .children > li {
                            > a {
                                padding-left: 62px;
                            }
                            > .sub-menu > li, > .children > li {
                                > a {
                                    padding-left: 72px;
                                }
                                > .sub-menu > li, > .children > li {
                                    > a {
                                        padding-left: 82px;
                                    }
                                    > .sub-menu > li, > .children > li {
                                        > a {
                                            padding-left: 92px;
                                        }
                                        > .sub-menu > li, > .children > li {
                                            > a {
                                                padding-left: 102px;
                                            }
                                            > .sub-menu > li, > .children > li {
                                                > a {
                                                    padding-left: 112px;
                                                }
                                                > .sub-menu > li, > .children > li {
                                                    > a {
                                                        padding-left: 122px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            } */
        }
        .current-cat > a,
        .current-cat-parent > a,
        .current-cat-ancestor > a {
            color: $primary_color;
        }
        .nice-select ul li {
            font-size: 14px;
            line-height: normal;
        }
    }
}
.widget_recent_entries, .widget_recent_comments {
    a {
        color: $color_dark;
        &:hover {
            color: $primary_color;
        }
    }
    li {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 11px;
        margin-bottom: 11px;
    }
}

// Recent comments widget
//--------------------------------------------------

.widget_recent_comments {
    .recentcomments {
        > a {
            font-size: 15px;
            font-weight: 700;
            line-height: normal;
            color: $secondary_color;
            display: block;
            &:hover {
                color: $primary_color;
            }
            &:before {
                content: '\A';
                white-space: pre;
            }
        }
    }
}

// RSS widget
//--------------------------------------------------

.widget_rss {
    font-size: 15px;
    .widget-title .rsswidget{
        color: $secondary_color;
        margin-bottom: 0;
    }
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .rsswidget {
        color: $secondary_color;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 5px;
        &:hover{
            color: $primary_color;
        }
    }

    .rss-date {
        font-size: 0.875em;
        font-style: italic;
        display: block;
    }
    .rssSummary{
        margin: 5px 0;
    }

    cite {
        font-weight: 700;
        font-size: 0.875em;
    }
}

// Calendar widget
//--------------------------------------------------

.widget_calendar {
    .calendar_wrap table {
        border-color: #{'rgba(var(--rgb-color-primary), 0.8)'};
        margin-bottom: 0;
        color: $secondary_color;
        td {
            padding: 8px;
            font-size: 14px;
            color: $secondary_color;
            &#today{
                color: $primary_color;
            }
        }
    }
    th, td {
        text-align: center;
        border-color: #{'rgba(var(--rgb-color-primary), 0.8)'};
    }
    table > caption {
        padding-bottom: 0;
        text-align: center;
        color: inherit;
    }
    .wp-calendar-nav-prev{
        color: $secondary_color;
    }
}

// Recent Posts Widget
//--------------------------------------------------
.widget_ef_recent_posts {
    li {
        padding-bottom: 14px;
        &:last-child {
            padding-bottom: 0;
        }
    }
    .entry-posted-in a {
        font-size: 15px;
        font-weight: 500;
        color: rgba(#000, 0.66);
        &:hover {
            color: $primary_color;
        }
    }
    .entry-title {
        font-size: 18px;
        line-height: 24px;
        margin-top: 4px;
        a {
            color: #000;
            &:hover {
                color: $primary_color;
            }
        }
        + .entry-meta {
            margin-top: 15px;
        }
    }
}

// Social Widget
//--------------------------------------------------
.cms-social {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
        display: inline-block;
        margin: 4px 10px 0 0;
    }
    a {
        font-size: 17px;
        color: #fff;
        height: 34px;
        width: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #272727;
        @include border-radius(34px);
        i {
            color: #fff;
        }
        &:hover {
            background-color: $primary_color;
        }
    }
}

// Check Availability Widget
//--------------------------------------------------
.widget_cms_check_availability {
    background-color: #fff;
    border: 1px solid #e5e5e5 !important;
    @include border-radius(6px);
    margin-bottom: 55px !important;
    padding: 30px !important;
    .select2-selection__arrow {
        display: none !important;
    }
}
// Contact Box
.cms-contact-box{
    &:before{
        content: none !important;
    }
    .widget-icon{
        margin-top: 26px;
        margin-bottom: 23px;
        img{
            max-height: 48px;
            transition: all 300ms ease 0s;
        }
    }
    .box-title{
        font-size: 19px;
        color: #fff;
        font-weight: 600;
        margin-bottom: 18px;
    }
    .cms-contact-text{
        font-size: 14px;
        line-height: 24px;
        color: #f4f4f4;
        p{
            margin-bottom: 22px;
        }
    }
    .cms-contact-button{
        margin-bottom: 20px;
        a{
            @include font-family-heading($heading_default_font);
            font-size: 24px;
            font-weight: 500;
            color: #fff;
            i{
                font-size: 18px;
                display: inline-flex;
                width: 40px;
                height: 40px;
                align-items: center;
                justify-content: center;
                border: 2px solid rgba(#f9f9f9, 0.15);
                @include border-radius(50%);
                margin-right: 10px;
            }
        }
    }
    &:hover{
        .widget-icon img{
            animation: upDown 500ms ease-in-out 50ms ;
        }
    }
}
// Newsletter Widget
//--------------------------------------------------
.widget_newsletterwidget {
    padding: 14px 0;
    .description {
        padding-bottom: 23px;
        color: #fff;
        font-weight: 700;
    }
    .tnp-widget {
        position: relative;
        .tnp-field-email {
            margin-bottom: 0;
            .tnp-email {
                height: 54px;
                @include border-radius(3px);
                background-color: #fff;
                font-size: 13px;
                color: #848e9f;
                font-style: normal;
                padding: 0 28px;
                &:focus {
                    border-color: $primary_color;
                }
            }
        }
        .tnp-field-button {
            margin: 0;
            width: 54px;
            height: 54px;
            position: absolute;
            top: 0;
            right: 0;
            &:before {
                content: '\f061';
                font-size: 12px;
                color: #fff;
                height: 30px;
                width: 30px;
                line-height: 30px;
                @include border-radius(30px);
                background-color: $primary_color;
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
                font-family: "Font Awesome 5 Pro";
                text-align: center;
            }
            .tnp-submit {
                top: 0;
                right: 0;
                opacity: 0;
                padding: 0;
                height: 54px;
                width: 54px;
                position: absolute;
            }
        }
    }
}

// Recent Posts
//--------------------------------------------------
.widget_cms_recent_posts{
    padding-bottom: 18px;
    .widget-content{
        .posts-list{
            .entry-media{
                width: 80px;
                margin-right: 20px;
                flex: none;
                a{
                    display: block;
                    width: 100%;
                    height: 80px;
                    @include border-radius(10px);
                    overflow: hidden;
                    background-position: center bottom;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
            .entry-brief{
                margin-bottom: 20px;
                position: relative;
                display: flex;
                padding-bottom: 14px;
                border-bottom: 1px solid #afede8;
                &:last-child{
                    margin-bottom: 0;
                    border-bottom: none;
                }
                .entry-content{
                    margin-top: -7px;
                    padding: 0;
                    .entry-meta{
                        display: flex;
                        font-size: 13px;
                        .cats-meta{
                            display: inline-block;
                            margin-right: 20px;
                            a{
                                color: $tertiary_color;
                                &:after{
                                    content: ",";
                                }
                                &:last-child{
                                    &:after{
                                        content: '';
                                    }
                                }
                            }
                        }
                        >span{
                            display: inline-block;
                            color: $tertiary_color;
                        }
                    }
                    .entry-title{
                        font-size: 16px;
                        line-height: 23px;
                        font-weight: bold;
                        margin-top: 3px;
                        margin-bottom: 0;
                        color: $dark_light_color;
                        a{
                            color: inherit;
                            &:hover{
                                color: $primary_color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.tagcloud a, .entry-tags a {
    color: $primary_color;
    display: inline-block;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 28px;
    padding: 0 12px;
    margin: 5px 6px 5px 0;
    border: 1px solid #e6e8eb;
    background-color: #fff;
    @include border-radius(6px);
    &:hover {
        color: #fff;
        background-color: $primary_color;
    }
    &:last-child{
        margin-right: 0 !important;
    }
}

.widget_search {
    position: relative;
    .search-field {
        border-color: #eaeaea;
        background-color: #fff;
        padding: 0 20px;
        font-size: 13px;
        border-radius: 30px;
    }
    .search-submit {
        border: none;
        background-color: transparent;
        padding: 0;
        height: 60px;
        line-height: 60px;
        width: 60px;
        font-size: 16px;
        color: $primary_color;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.elementor-widget-container {
    .search-form{
        position: relative;
        .search-field {
            background-color: #f1f5fe;
            padding: 0 20px;
            font-size: 14px;
            border-color: transparent;
            border-radius: 3px;
        }
        .search-submit {
            border: none;
            background-color: transparent;
            padding: 0;
            height: 60px;
            line-height: 60px;
            width: 60px;
            font-size: 16px;
            color: $secondary_color;
            position: absolute;
            top: 0;
            right: 0;
            i{
                font-size: 16px;
            }
        }
    }
}

#sb_instagram {
    .sbi_item {
        img {
            @include border-radius(1px !important);
        }
        .sbi_photo {
            position: relative;
            opacity: 1 !important;
            &:before {
                content: "\f16d";
                color: #fff;
                font-size: 14px;
                font-family: FontAwesome;
                z-index: 2;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                opacity: 0;
                @include transition(all 300ms linear 0ms);
            }
            &:after {
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                content: "";
                background-color: $primary_color;
                opacity: 0.95;
                z-index: 1;
                @include border-radius(1px);
                opacity: 0;
                @include transition(all 300ms linear 0ms);
            }
            &:hover {
                &:before, &:after {
                    opacity: 1;
                }
            }
        }
    }
    #sbi_load {
        padding-top: 0 !important;
    }
}